body{
    margin : 0px;
    
}

#bodyheader{
    height: 65vh;     
    opacity: 0.9;
    background-image: url("wp4759213.jpg");
    background-size: cover;
    background-position: center;
    

}
.horizontal{
    list-style: none;
    padding-left: 0px;
    

}
.horizontal li{
    display: inline-block;
    margin: 0px 10px 10px 0px;
    
}
.horizontal li a{
    color: white;
    text-decoration: violet;
    transition: color 0.5s, border-bottom 4s;
    font-size: larger;
}
.horizontal li a:hover{
    color: red;
    border-bottom: 1px solid violet;
}
.textcenter{
    text-align: center;
}
#topic{
    color:rgb(4, 4, 92);
    font-size :40px;
    margin-top: 100px;
}
#intro{
    position: relative;
}
#icons li a {
    
    padding: 20px;
    border-radius: 50%;
}
#pic1{
    margin: -17vh;
    
}
#introduction{
    margin-top: 150px;
}
p{
    margin: 18px;
}
section{
    margin: 16px;
}
table, th, td {
    border: 1px solid black;
    background-color: lightpink;
  }
.imagesmall{
    height:50vh;
}